body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff914d;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 30px;
    text-align: center;
}

.banner {
    background-color: #fff;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, select, button {
    margin: 10px 0;
    padding: 8px;
}

button {
    background-color: #ff914d;
    border: none;
    color: white;
    cursor: pointer;
}